---

---

<section class=" w-96 mt-10 px-8 sm:px-0">
  <p class="text-gray-500 text-sm italic">If you want to know more about me, I leave you here my susbtack: <a href="https://mrjark.substack.com" class="text-purple-400/80 hover:text-purple-400 hover:underline" target="_blank">@mrjark</a></p>
  <p class="text-gray-500 text-sm italic">Or in my website <a href="https://mrjark.com" target="_blank" class="text-purple-400/80 hover:text-purple-400 hover:underline">mrjark.com</a> although still under construction</p>
  <slot/>
</section>

